<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Question 2</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sideNav>
    <mat-list>
      <ng-template ngFor let-friend [ngForOf]="friends">
        <mat-list-item>
          <mat-card style="cursor: pointer" (click)="checkDetail(friend._id)">
            <mat-card-header>
              <mat-icon mat-card-avatar><img ngSrc="{{friend.picture}}" width="50" height="50" priority="true" alt="friend's photo"/></mat-icon >
              <mat-card-title>{{friend.name.first}} {{friend.name.last}}</mat-card-title>
            </mat-card-header>
          </mat-card>

        </mat-list-item>
      </ng-template>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <google-map
      [center]="center"
      [mapTypeId]="mapTypeId"
      width="100%"
      height="720"
    >
      <map-marker
        *ngIf="haveMarker"
        [position]="{lat: marker.position.latitude, lng: marker.position.longitude}"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      />
    </google-map>
  </mat-sidenav-content>
</mat-sidenav-container>
